body{
  background-color: lightgray;
}
h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 75px;
}

.ShortBio{
  font-family: sans-serif;
  background-color: whitesmoke;
  width: 60%;
  padding: 1%;
  box-sizing: border-box;
  float: right;
}

.AboutEducation{
  font-family: sans-serif;
}